body {
    background-color: bisque;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    border: solid;
    background-color: #b0b0b0;
    border-radius: 15px;
    flex-direction: column;
    width: 350px;
    height: 400px;
    margin: 100px auto;
}

.display {
    box-sizing: border-box;
    border: solid;
    background: white;
    width: 260px; 
    height: 82px;
    margin: 25px auto;
    text-align: right;
    font-size: 32px;
    border-radius: 15px;
    padding-top: 2rem;
    padding-right: 5px;
    overflow-x: auto;
    overflow-y: hidden;
}

.button-container {
    border: solid;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    margin: 0px auto;
    border-radius: 15px;

}

.number-container {
    width: 150px;
    margin: 20px 0px;
}

.operation-container {
    width: 90px;
    margin: 20px 0px;
}

button {
    width: 40px;
    height: 45px;
    margin-bottom: 12px;
    border-radius: 10px;
}

.equal {
    height: 105px;
}

.clear{
    height: 105px;
}

.zero {
    width: 85px;
}